<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357202031328-s44oc5i8psf7he9bq52t3je0c4n61ddm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357202031328-s44oc5i8psf7he9bq52t3je0c4n61ddm</string>
	<key>API_KEY</key>
	<string>AIzaSyDg9emLX4ouO7MeL6O220tpCXhtKHXzCA8</string>
	<key>GCM_SENDER_ID</key>
	<string>357202031328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterone</string>
	<key>PROJECT_ID</key>
	<string>light-house-219ea</string>
	<key>STORAGE_BUCKET</key>
	<string>light-house-219ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357202031328:ios:b2c374c76a9d9d5de19685</string>
	<key>DATABASE_URL</key>
	<string>https://light-house-219ea-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>